.latest_section_content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.videoCard_div {
  width: 32%;
}
.main {
  background-color: rgb(253, 253, 253);
}
