.App {
  /* text-align: center; */
  position: relative;
  display: flex;
  flex-direction: column;
}
.navigation_div {
  position: fixed;
  width: 80%;
  z-index: 4;
  margin-left: 20%;
  background-color: white;
}

.main_page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  flex-basis: 20%;
  position: fixed;
  height: 100%;
  width: 20%;
}

.main_content {
  flex-basis: 80%;
  margin-top: 4.5rem;
  margin-left: 20%;
}
